[Desktop Entry]
Type=Application
Name=SysSense
Comment=Monitor do Sistema
Exec=syssense
Icon=data/icons/hicolor/scalable/apps/br.com.syssense.svg
Terminal=false
Categories=System;Monitor;
StartupNotify=true
StartupWMClass=br.com.syssense
